.header{
    background: url("https://img.freepik.com/premium-photo/amazing-view-famous-moraine-lake-banff-canada-clear-blue-water-reflecting-rocky-mountains-national-park_459524-12.jpg?w=2000");
    background-repeat: no-repeat;
    min-height: 35rem;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
     
}

.header_text{
    padding-top: 150px;
    margin-bottom: 5px; 
    color: whitesmoke;
    font-weight: bolder;
    font-size:3rem;

}
.card-deck{
    margin-top: -150px;
    padding: 0 70px;
    display: flex;
    justify-content: center;
}

.country-link {
    color: white;
    text-decoration: underline;
}

.country-link:hover{
    
    font-size: 1.2rem;
}

.card:hover{
    
    border: 5px solid white;
}

#carouselExampleIndicators{
    margin-top: 1.75rem;
    background-color: rgb(239, 233, 233);
}
.square-section{
    height: 120px;
    display: flex;  
    justify-content: center;
    margin: 0 auto;
  }
  
.square {
    width: 7rem;
    height: 5rem;
    background-color: hsl(172, 45%, 59%);
    margin:2rem 2rem;
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
    align-self: center;  
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px#3b6e67;
  }
  .square:hover{
    border: 2px solid white;
  }

footer{
    height:3rem;
    background-color: lightgrey;
    font-size: 1.5rem;
    text-align: center;
}
.footer-text{
    color: black;
    padding: 25px 50px;
}
  