/* Header */

.navbar {
  background-color: #69c6ba;
}

section {
  background: url("../Resources/Images/planet-earth-png-8.png") no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.navbar-brand .img {
  width: 10px;
  height: 10px;
}

/*Section1 */

.card {
  border: none;
  border-radius: 0;
  width: 550px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.text-muted {
  font-weight: 500 !important;

  font-size: 12px;
  color: #6c757dcc !important;
}
h2 {
  color: #028282;
  padding: 10px 0 20px;
  font-family: Roboto Slab !important;
  font-weight: bold;
}
.form-group {
  margin-top: 20px;
}
.first {
  margin-top: 0 !important;
}
.form-control {
  border-radius: 0;
}
.form-group label {
  font-size: 9px;
  font-weight: bold;
}
.form-group span {
  color: rgb(255, 0, 0);
}
.form-control:focus {
  border: 1.5px solid #adb5bd;
  border-radius: 0;
  box-shadow: none;
  background: #ff000012;
  letter-spacing: 1px;
  color: #000;
}
.form-check-label {
  font-size: 9px;
  font-weight: bold;
}
.btn-block {
  border-radius: 0;
  border: none;
  background: blue;
  margin-top: 10px;
  padding-top: 0px;
  background: #027676;
}
.btn-block:hover {
  background: #027676;
}
.btn-block:focus {
  box-shadow: none;
  background: #018080 !important;
}
.btn-primary span {
  font-size: 12px;
}

.val_error {
  color: #dc3545;
  font-size: 10px;
  padding-top: 5px;
  font-weight: bold;
}

/* Section2 */

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(309deg, #c66995 0%, #69c6ba 79%);
}

.wrapper h3 {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0.8;
}

.boxes div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
}

.boxes div:nth-child(1) {
  top: 70%;
  left: 10%;
  animation: box-animate 10s infinite;
}

.boxes div:nth-child(2) {
  top: 20%;
  left: 80%;
  animation: box-animate 9s infinite;
}

.boxes div:nth-child(3) {
  top: 50%;
  left: 50%;
  animation: box-animate 6s infinite;
}

.boxes div:nth-child(4) {
  top: 80%;
  left: 60%;
  animation: box-animate 15s infinite;
}

.boxes div:nth-child(5) {
  top: 30%;
  left: 30%;
  animation: box-animate 9s infinite;
}

.boxes div:nth-child(6) {
  top: 90%;
  left: 90%;
  animation: box-animate 12s infinite;
}

.boxes div:nth-child(7) {
  top: 80%;
  left: 30%;
  animation: box-animate 2s infinite;
}

.boxes div:nth-child(8) {
  top: 40%;
  left: 20%;
  animation: box-animate 2s infinite;
}

.boxes div:nth-child(9) {
  top: 50%;
  left: 80%;
  animation: box-animate 2s infinite;
}

@keyframes box-animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/* Footer */
