@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #fff 10%, rgba(151, 248, 6, 0.4) 90%) no-repeat;
}

.wrapper {
    max-width: 550px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.0rem;
    font-weight: bold;
    color: #025202;
    text-shadow: 0 0 2px #025202;
    font-style: italic;
}

.h5 {
    color: #555;
    margin: 0;
}

.form-control {
    border: 1.5px solid #025202;
}

.form-control:focus {
    box-shadow: none;
}

.mandatory::after {
    content: "*";
    color: #ff0000;
}

.button-section .btn {
    background-color: #fff;
    border-radius: 20px;
    border: 1.5px solid #025202;
    padding: 5px 15px;
}

.button-section .btn.btn-primary {
    background-color: #025202;
    color: #eee;
}

.button-section .btn:hover {
    background-color: #025202;
    color: #eee;
}

.remember {
    border: 1px solid #025202;
}

.gender-l {
    margin: 0;
}

#male {
    display: none;
}

input[type="radio"] {
    visibility: hidden;
}

input[type='radio']:checked {
    background-color: #025202;
}

.btn.btn-primary {
    background-color: #fff;
    color: #555;
    border: 1px solid #025202;
    ;
    width: 115px;
}

.btn.btn-primary:hover {
    background-color: #025202;
    color: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #025202;
}

@media(max-width: 575px) {
    .btn-group {
        width: 100%;
    }

    .btn-group>.btn {
        flex: 50%;
    }

    .wrapper {
        margin: 10px;
    }

    .h5 {
        padding-top: 10px;
    }
}